doctype html
html
    head
        title To-Do

        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(href="https://fonts.googleapis.com/css?family=Cabin"
            rel="stylesheet")
        link(rel="stylesheet", href="style.css")
            
        script(src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous")
        script(src="script.js")
    body
        
        input.list-input(type="text")
        span.list-input-button &nbsp; Press to add!
        
        h1 The List:    

        ul.list

        .save-button
            span Save List
        span.storage-unav Local storage is not supported by this browser.
        
        span.load-button 
            span Load List