doctype html
html
    head
        title The Amazing List!

        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(href="https://fonts.googleapis.com/css?family=Noto+Sans"
            rel="stylesheet")
        link(rel="stylesheet", href="style.css")

        script(src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous")
        script(src="script.js")
    body


        h1 Your List:

        ul.list

        input.list-input(type="text")
        span.list-input-button &nbsp; 
        .add-button
            div +

        br.button-margin

        .save-button
            div SAVE

        .load-button
            div LOAD
        br
        div.storage-unav Local storage is not supported by this browser.