html, body
    font-family: 'Source Sans Pro', sans-serif
    font-size: 24px

body
    margin: 10% auto 0 auto
    width: 40%

input
    vertical-align: middle
ul
    li
        margin-left: 4%
    #remove
        font-weight: bold
        font-size: 34px
        margin-left: 10px
    #remove:hover
        cursor: pointer

.login
    margin-top: 30%

.button:hover, #save:hover
    cursor: pointer
